<html>
<head>
<title>Home</title>
</head>
<body>
<form method="post" action="/">
  First name: <input type="text" name="FirstName"/><br/>
  Last name: <input type="text" name="LastName"/><br/>
  User type: <input type="text" name="UserType"/><br/>
  Email address: <input type="text" name="Email"/><br/>
  Password: <input type="password" name="Password"/><br/>
  <input type="submit" name="submitButton" value="Signup"/><br/>
</form>
</body>
</html>
