<!--<p>
  user works!
</p>-->
<div class="container">
  <div *ngFor = "let user of users">
    <div class="col-md-3">
      {{contact._firstName}}
    </div>
    <div class="col-md-3">
      {{contact._lastName}}
    </div>
    <div class="col-md-3">
      {{contact._userType}}
    </div>
    <div class="col-md-3">
      {{contact._bodyTemperature}}
    </div>
    <div class="col-md-3">
      {{contact._heartRate}}
    </div>
    <div class="col-md-3">
      {{contact._bloodPressure}}
    </div>
    <div class="col-md-3">
      {{contact._respiratoryRate}}
    </div>
  </div>
</div>
